.card{
  border:1px solid rgba(7, 17, 27,0.1);
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.cardHeader{
  background-color: #F3F3F3;
  height: 45px;
  .title{
      padding: 6px 5px;
      font-size: 16px;
      color:black;
      
  }
  .buttons{
      padding: 6px 5px;
  }
  .selectDate{
      padding: 6px 5px;
  }
}
.select{
  margin: 20px 30px;
}